@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Itim&family=Kreon&family=Mynerve&family=Rubik&family=Sofia+Sans+Semi+Condensed&display=swap');


body{
    font-family: 'Rubik', sans-serif;
}


.navbar {
  z-index: 10000 !important;
}

@media screen and (max-width:976px) {
  .carousel-item img {
    height: 100vh !important;
    object-fit: cover;
  }

  .carousel-caption {
    margin-left: -120px !important;
    scale: 0.9;
    margin-right: -50px;
  }

  .third-slide{
    margin-top: 100px;
  }
}

.text-success1 {
  color: #46c35f !important;
}

.carousel .carousel-indicators button {
  width: .625em;
  height: .625em;
  border-radius: 50%;
  background-color: lightblue;
}

.carousel-caption {
  left: 150px !important;
  top: 100px !important;
}

@media screen and (max-width: 1220px) and (min-width: 978px) {
  .carousel-item img {
    height: 80vh;
  }
}

.no-underline a{
  text-decoration: none;
}